html,
body,
header,
.view {
  height: 100%;
color: aliceblue
}
.navigation{
  height: 100%;
}


.aboutwrap{
  width: auto;
  background-image: url("components/images/beachrun.jpg");
  position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  }